@import "tailwindcss";

/* @keyframes heroSlide {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-hero-slide {
  animation: heroSlide 35s linear infinite;
}
 */