@import "tailwindcss";

/* index.css ya App.css */
.app-container {
  width: 100%;
  max-width: 1440px; /* Aapki design ki maximum width */
  margin: 0 auto;    /* Ye content ko center kar dega */
  display: flex;
  flex-direction: column;
}